@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}

/* ===============Navbar================ */

nav .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.logo img {
    width: 80%;
}
.nav-list ul {
    display: flex;
    gap: 3rem;
    font-family: "Raleway", sans-serif;
}

.nav-list ul li {
    list-style: none;
}
.nav-list ul a {
    text-decoration: none;
    color: var(--desaturated-blue);
    font-size: 1.1rem;
    transition: all 400ms ease;
}
.nav-list ul a:hover {
    color: hsl(238, 29%, 18%);
    cursor: pointer;
}

/* ===============Main=================== */
main {
    font-family: "Raleway", sans-serif;
}
main .container {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    align-items: flex-start;
    gap: 3rem;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}
.info h3 {
    text-transform: capitalize;
    font-size: 2.4rem;
    line-height: 1.6;
    color: var(--very-dark-blue);
    margin-top: 4rem;
}
.info p {
    margin-top: 0.8rem;
    line-height: 1.3;
    font-size: 1.1rem;
    color: var(--very-dark-blue);
}
.info form {
    margin-top: 0.7rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.info form input {
    padding: 0.6rem 1.2rem;
    outline: none;
    width: 40%;
}
.info form button {
    background: var(--bright-blue);
    color: #fff;
    text-transform: capitalize;
    border: none;
    padding: 0.6rem 1.2rem;
    width: 25%;
    font-size: 1rem;
    border-radius: 0.2rem;
    transition: all 400ms ease;
}
.info form button:hover {
    background: hsl(224, 69%, 41%);
    cursor: pointer;
}
.hero {
    width: 50%;
}
